gitignore# Build results
bin/
obj/
out/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio
.vs/

# Logs
*.log

# NuGet
*.nupkg
*.snupkg
packages/

# Configs locales
appsettings.Development.json

.fake