/* auth.css */
/* Estilos específicos para las páginas de autenticación (Login, Register, etc.) */

body.auth-layout {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding-top: 40px;
    padding-bottom: 40px;
}

/* Contenedor para los formularios de login, registro, etc. */
.auth-container {
    width: 100%;
    max-width: 450px;
    padding: 2.5rem;
    /* Añadimos márgenes automáticos para centrar el contenedor horizontalmente */
    margin-right: auto;
    margin-left: auto;
    border-radius: var(--bs-border-radius-lg); /* Usamos una variable global de Bootstrap */
}

.auth-header {
    /* Convertimos el enlace en un bloque para que ocupe todo el ancho
       y el centrado de texto funcione correctamente. */
    display: block;
    text-align: center;
    margin-bottom: 1.5rem;
    font-weight: 600;
    font-size: 2rem;
    color: var(--bs-primary-text-emphasis);
    text-decoration: none;
}